{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Princípios do Web Design{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em conhecê-lo!</p>
    {% else %}
    <p>Feliz em vê-lo novamente!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

<div class="mt-5">
    <h2>Relação de usuários cadastrados</h2>
    <p>Quantidade: {{ users|length }}</p>
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Nome do usuário</th>
                <th scope="col">Função</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.role.name if u.role else 'User' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-5">
    <h2>Relação de funções cadastradas</h2>
    <p>Quantidade: {{ roles|length }}</p>
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Funções</th>
                <th scope="col">Usuários</th>
            </tr>
        </thead>
        <tbody>
            {% for r in roles %}
            <tr>
                <td>{{ r.name }}</td>
                <td>
                    <!-- A tag 'ol' cria a lista numerada (1, 2, 3...) -->
                    <ol style="margin-bottom: 0;">
                    {% for u in r.users %}
                        <li>{{ u.username }}</li>
                    {% endfor %}
                    </ol>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}